.All{
	position: relative;
	width: 95%;
	height: 700px;
	margin: auto;
	margin-top: 30px;
	background: #DDDDDD;
}

#Left{
	position: absolute;
	width: 300px;
	height: 150px;
	top: 30px;
	left: 30px;
	background: #00FFFF;
}

#Middle{
	padding: 30px;
	height: 550px;
	width: auto;

	background: #00FFFF;
}

#Right{
	position: absolute;
 	width:180px;
 	height: 80%; 
 	top: 30px;
	right:  30px;
 	background: #00FFFF;
}